dist: trusty

language: python
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
install:
  - sudo apt-get install python-gi python3-gi
  - pip install -r requirements-test.txt
script:
  - flake8
  - nosetests signalbot --nologcapture
